In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/team_stats_2003_2023.csv')

In [3]:
df.head()

,year,team,wins,losses,win_loss_perc,points,points_opp,points_diff,mov,g,...,rush_td,rush_yds_per_att,rush_fd,penalties,penalties_yds,pen_fd,score_pct,turnover_pct,exp_pts_tot,ties
0,2003,New England Patriots,14,2,0.875,348,238,110,6.9,16,...,9,3.4,91,111,998,26,27.9,11.3,-136.51,NaN
1,2003,Miami Dolphins,10,6,0.625,311,261,50,3.1,16,...,14,3.7,99,103,913,22,28.1,17.2,-177.92,NaN
2,2003,Buffalo Bills,6,10,0.375,243,279,-36,-2.3,16,...,13,3.9,96,106,891,22,21.9,17.6,-230.07,NaN
3,2003,New York Jets,6,10,0.375,283,299,-16,-1.0,16,...,8,4.0,78,69,550,15,32.4,11.8,-107.89,NaN
4,2003,Baltimore Ravens,10,6,0.625,391,281,110,6.9,16,...,18,4.8,115,126,970,23,31.8,16.6,-220.50,NaN

In [10]:
df = df.drop(columns=['ties'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  672 non-null    int64
 1   team                  672 non-null    object
 2   wins                  672 non-null    int64
 3   losses                672 non-null    int64
 4   win_loss_perc         672 non-null    float64
 5   points                672 non-null    int64
 6   points_opp            672 non-null    int64
 7   points_diff           672 non-null    int64
 8   mov                   352 non-null    float64
 9   g                     672 non-null    int64
 10  total_yards           672 non-null    int64
 11  plays_offense         672 non-null    int64
 12  yds_per_play_offense  672 non-null    float64
 13  turnovers             672 non-null    int64
 14  fumbles_lost          672 non-null    int64
 15  first_down            672 non-null    int64
 16  pass_cmp              672 non-null    int64
 17  pass_att              672 non-null    int64
 18  pass_yds              672 non-null    int64
 19  pass_td               672 non-null    int64
 20  pass_int              672 non-null    int64
 21  pass_net_yds_per_att  672 non-null    float64
 22  pass_fd               672 non-null    int64
 23  rush_att              672 non-null    int64
 24  rush_yds              672 non-null    int64
 25  rush_td               672 non-null    int64
 26  rush_yds_per_att      672 non-null    float64
 27  rush_fd               672 non-null    int64
 28  penalties             672 non-null    int64
 29  penalties_yds         672 non-null    int64
 30  pen_fd                672 non-null    int64
 31  score_pct             672 non-null    float64
 32  turnover_pct          672 non-null    float64
 33  exp_pts_tot           672 non-null    float64
dtypes: float64(8), int64(25), object(1)
memory usage: 178.6+ KB

In [13]:
df.columns

Index(['year', 'team', 'wins', 'losses', 'win_loss_perc', 'points',
       'points_opp', 'points_diff', 'mov', 'g', 'total_yards', 'plays_offense',
       'yds_per_play_offense', 'turnovers', 'fumbles_lost', 'first_down',
       'pass_cmp', 'pass_att', 'pass_yds', 'pass_td', 'pass_int',
       'pass_net_yds_per_att', 'pass_fd', 'rush_att', 'rush_yds', 'rush_td',
       'rush_yds_per_att', 'rush_fd', 'penalties', 'penalties_yds', 'pen_fd',
       'score_pct', 'turnover_pct', 'exp_pts_tot'],
      dtype='object')

In [14]:
df.isnull().sum()

year                      0
team                      0
wins                      0
losses                    0
win_loss_perc             0
points                    0
points_opp                0
points_diff               0
mov                     320
g                         0
total_yards               0
plays_offense             0
yds_per_play_offense      0
turnovers                 0
fumbles_lost              0
first_down                0
pass_cmp                  0
pass_att                  0
pass_yds                  0
pass_td                   0
pass_int                  0
pass_net_yds_per_att      0
pass_fd                   0
rush_att                  0
rush_yds                  0
rush_td                   0
rush_yds_per_att          0
rush_fd                   0
penalties                 0
penalties_yds             0
pen_fd                    0
score_pct                 0
turnover_pct              0
exp_pts_tot               0
dtype: int64

In [15]:
df['mov'].fillna(df['mov'].mean(), inplace=True)

/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_94427/2871537144.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['mov'].fillna(df['mov'].mean(), inplace=True)

In [16]:
df.describe()

,year,wins,losses,win_loss_perc,points,points_opp,points_diff,mov,g,total_yards,...,rush_yds,rush_td,rush_yds_per_att,rush_fd,penalties,penalties_yds,pen_fd,score_pct,turnover_pct,exp_pts_tot
count,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,...,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000
mean,2013.000000,8.050595,8.050595,0.500246,358.633929,358.633929,0.000000,-0.001136,16.139881,5463.895833,...,1846.921131,13.462798,4.199554,99.775298,101.494048,849.501488,27.889881,34.093304,12.561756,-35.937113
std,6.059811,3.093255,3.086020,0.191452,72.092050,57.889328,100.684601,4.566126,0.347122,628.209466,...,343.221633,5.170285,0.440718,20.837354,16.145851,146.167034,7.251892,6.730800,3.206515,120.556255
min,2003.000000,0.000000,0.000000,0.000000,168.000000,201.000000,-261.000000,-16.300000,16.000000,3587.000000,...,1129.000000,2.000000,3.100000,53.000000,55.000000,415.000000,9.000000,16.400000,4.000000,-358.270000
25%,2008.000000,6.000000,6.000000,0.375000,305.000000,316.750000,-75.000000,-0.400000,16.000000,5030.250000,...,1606.000000,10.000000,3.900000,84.000000,91.000000,751.750000,23.000000,29.200000,10.200000,-124.015000
50%,2013.000000,8.000000,8.000000,0.500000,359.000000,356.500000,-1.000000,-0.001136,16.000000,5467.500000,...,1810.000000,13.000000,4.200000,98.000000,102.000000,852.500000,27.000000,33.900000,12.400000,-40.970000
75%,2018.000000,10.000000,10.000000,0.625000,406.000000,398.000000,75.250000,0.325000,16.000000,5900.250000,...,2047.250000,17.000000,4.500000,112.250000,112.000000,941.250000,33.000000,38.800000,14.800000,49.795000
max,2023.000000,16.000000,16.000000,1.000000,606.000000,519.000000,315.000000,19.700000,17.000000,7474.000000,...,3296.000000,32.000000,5.500000,188.000000,163.000000,1358.000000,50.000000,52.700000,25.000000,298.140000

In [20]:
df['total_yards'].max()

np.int64(7474)

In [22]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [23]:
X = df[['points']]
y = df['wins']
X_train, X_test, y_train, y_test, = train_test_split(X,y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Squared Error: 3.7451712004426727
R-squared: 0.635035049042521